Must have

RPI 4
Camera
Mediapipe
Scikit learn
Opencv
Google assistant sdk

Should have

Display
Mic
Speaker
Enclosure

Could have

Open other apps
Play music


Will not have

Connection to real world appliances